*{
    margin: 0%;
    padding: 0%;
    font-family: "Public Sans", sans-serif;
}
body{
    font-size: 1rem;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.navbar {
  background-color: rgb(255, 252, 252);
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 1.5rem 1.5rem 0rem;
  height:4%;
  width: 100%;
  position: relative;
  z-index:10;
}
.navbar li {
  list-style: none;
}
#hamburger-menu {
  display: none;
}

.menu-button-container {
  display: none;
  cursor: pointer;
  user-select: none;
}
.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  font-size: 1.5rem;
  width: 85vw;
  position: absolute;
  top: 5.5rem;
  gap: 1.5rem;
  padding: 2rem 0;
  border-radius: 1rem;
  box-shadow:  0 5rem 6rem 6rem rgba(99, 99, 99, 0.4);
}

.menu > .nav-link {
  font-size: 18px;
  font-weight: 300;
}
.menu > .nav-link > a {
  text-decoration: none;
}
.logo {
  margin-top: 0.8rem;
  font-size: 1.5rem;
}
.header-line {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.header-list > a {
  color:hsl(233, 26%, 24%);
  font-weight: 300;
  padding: 0 1rem;
  text-decoration: none;
}
.header-list > a:hover {
  border-bottom: 0.4rem solid hsl(136, 65%, 51%) ;
  padding-bottom: 1.6rem;
}
.request-button {
  background: linear-gradient(90deg, rgb(56, 187, 91), rgb(24, 214, 182));
  padding: 1rem 2.7rem;
  border-radius:2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.request-button:hover {
  opacity: 0.8;
}

.display1{
  height: 70vh;
  width: 100%;
  display: flex;
  padding: 0 8rem;     /* chnages over here */
  align-items: center;  /* to place text area at center */
}
.text-part{
  /* width: 50%; */     /* no need to specify*/
}
.image-part{
  height:100%;
  width: 60%;
}
.display-pic{
  margin-left: 15%;
  margin-top: -26%;
}
.display-pic2{
  position:absolute;
  top: -5%;
  left: 65%;
}
.title{
  font-size: 4.5rem;
  max-width: 95%;     /* to  make title in two perfect line */
}
.text-description{
  margin-top: 3rem;
  font-size: 1.3rem;
  color: rgb(130, 125, 125);
  line-height: 2rem;
}
.request-button2{
  background: linear-gradient(90deg, rgb(56, 187, 91), rgb(24, 214, 182));
  padding: 1rem 2.7rem;
  border-radius: 99px;
  color: white;
  margin-top: 2rem;
  list-style: none;
  width: fit-content;
}
.request-button2:hover {
  opacity: 0.8;
}
.display2{
  padding-top: 7rem; 
  padding-bottom: 7rem;
  color: rgb(130, 125, 125);
  background-color: rgb(243, 237, 237) ;
}
.why-text{
  margin-left: 10%;
}
.why-text-titile{
  color: black;
  font-size: 2.8rem;
}
.why-text-description{
  font-size: 1.3rem;
  width:48%;
  margin-top: 1.8rem;
}
.services-container{
  display: flex;
  margin-top: 5rem;
  width:80%;
  gap:4rem;
  margin-left: 10%;
  
}
.service{
  width:20%;
  font-size: 1.2rem;
}
.service-title{
  margin-top: 2rem;
  color: rgb(15, 15, 15);
  font-size: medium;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.service-description{
  width:100%;
}
.display3{
  padding-top: 7rem; 
  padding-bottom: 5rem;
  background-color:rgb(250, 245, 245);
}
.latest-article{
  margin: 0 10%;
}
.latest-article-titile{  
  color: rgb(8, 8, 8);
  font-size: 2.8rem;
}
.latest-article-container{
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  width:100%;
  gap: 4rem;
  
}
.article{
  width: 23%;
  background-color: rgb(252, 251, 253);
  height: 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.article-image {
  width: 100%;
  height: 50%;
}
.article-image > img {
  width: 100%;
  height: 100%;
}
.article-text-part{
  height: 35%;
  width:85%;
  padding:1rem;
  
}
.article-auther{
  color: rgb(179, 172, 172);
  font-size: 0.9rem;
}
.article-title{
  font-size:1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.article-title:hover {
  cursor: pointer;
  color:  hsl(136, 65%, 51%);
}

.article-description{
  color: rgb(179, 172, 172); 
}
footer{
  display: flex;
  background-color: rgb(48, 48, 81);
  color: white;
  height: 10rem;
  padding-top: 2rem;
}

.logo3{
  margin-left:50%;
}
.social-media{
  margin-top: 1.5rem;
  margin-left: 90%;
  display: flex;
  gap:1.5rem;
}
.social-media > div  > svg {
  cursor: pointer;
  fill: #fff;
} 
.social-media > div > svg:hover {
  fill:  hsl(136, 65%, 51%);
}
.footer-part2{
  margin-left:20rem;
  margin-top: 1rem;
}

.detail{
  margin-top: 1rem;
}
.detail:hover {
  cursor: pointer;
  color:  hsl(136, 65%, 51%);
}
.footer-part3{
  margin-left:10rem;
  margin-top: 1rem;
}
.footer-part4{
  margin-left:40rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-end;
}
.request-button3{
  background: linear-gradient(90deg, rgb(56, 187, 91), rgb(24, 214, 182));
  padding: 1rem 2.7rem;
  border-radius:4rem;
  color: white;
  width: fit-content;
  list-style: none;
  margin-top: 1rem;
}
.request-button3:hover {
  opacity: 0.8;
}
.copyright{
  margin-top: 1rem;
}
/* responsive view */
@media screen and (max-width:680px){
  header .header-line{
    display: none;
  }
  .logo {
    margin: 0;
  }
  header .request-button{
    display: none;
  }
  .navbar {
    justify-content: space-around;
    align-items: center;
    gap: 11rem;
    padding: 1.5rem 0;
  }
  #hamburger-menu:checked ~ .menu {
    display: flex;
    align-items: right;
  }
  .menu-button-container {
    display: block;
  }
  .menu > .nav-link > a {
    color: black;
  }
  .menu > .nav-link > a:visited {
    color: black;
  }
  .menu > .nav-link > a:hover {
    color: black;
  }
  .display1{
      flex-direction: column-reverse;
      background-image: url('/images/bg-intro-mobile.svg');
      background-repeat: no-repeat ;
      background-position: -6rem -8rem;
      background-size: 130%;
      height: 100vh;
      /* margin-bottom: 3rem; */
      padding: 0;         /*display all content at center in mobile view  */
  }
  .display-pic{
    display:none;
  }
 .display-pic2{
  top: 0;
  left: 0;
  width: 100%;
 }
 .text-part{
  width: auto;
  text-align: center;
  margin: 0;
  /* transform: translateY(2%); */
  font-size: 1rem;
  padding: 0.7rem;
 }
 .title{
  font-size: 2.7rem;
  max-width: 100%;        /*get back to 100% width so that it will be placed at center perfectly */
 }
 
 .request-button2{
  /* margin-left: 22%; */   /*no need */
  margin: auto;
  margin-top: 2rem;
 }
 .display2{
  padding: 2rem 0 3rem 0;
 }
 .why-text-titile{
  width:90%;
  text-align: center;
 }
 .why-text-description{
  text-align: center;
  width: 90%;
 }
 .services-container{
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
 }
 .service{
  margin-left: 5%;
  width: 90%;
 }
 .display3{
  padding: 3rem 0 5rem 0;
 }
 .latest-article{
  width:90%;
  text-align: center;
 }
 .latest-article-container{
  flex-direction: column;
  margin-top: 4rem;
 }
 .article{
  width: 90%;
  text-align: left;
 }
 footer{
  flex-direction: column;
  height: 100%;
  width:100%;
 }
 footer .footer-part1{
  display: flex;
  flex-direction: column;
  align-items: center ;
 }
 footer .logo3 {
  margin: 0;
 }
 footer .social-media{
  margin: auto;
 }
 footer .footer-part2{ 
  text-align: center;
  margin: auto;
 }
 footer .footer-part3{
  margin: auto;
  text-align: center;
 }
 footer .footer-part4{
  margin: auto;
  text-align: center;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }  
 
}
@media screen and (max-width:375px){
  .display1{
    height: 120vh;
    margin-bottom: 3rem;
  }
  .text-part{
    transform: translateY(8%); 
   }
}
